@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1c73df8;
    color: #333;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    /* overflow: hidden; */
    margin: 0;
    background-image: url('assets/images/rainbow-background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
}

/* #test {
    position: absolute;
    background: antiquewhite;
    font-weight: bold;
    font-size: larger;
}

.hide {
    display: none;
} */

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: -1;
}

#title {
    font-style: italic;
    font-size: xx-large;
    color: antiquewhite;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 10px;
    background-color: #fafafa;
    border: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease-in;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    overflow: clip;

}

.card:hover {
    transform: scale(1.05);
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #000;
}
.card-front {
    background-color: #ffffff;
}
.card-back {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}

.game-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#timer {
    font-size: 24px;
    margin-bottom: 10px;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-flex;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
        }
        #reset-button:hover {
            background-color: #45a049;
}

